
{% extends 'navbarhomeadmin.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<style>
#one {
  min-height: 100vh;
  background-image: linear-gradient(75deg, rgb(6 6 6 / 64%) 8%, transparent),
    url('{% static "images\vbgg.jpg" %}');
  background-position: center;
  background-size: cover;
}
#six {
  background: url('{% static "images\pvidya.png" %}');
  background-position: top;
  background-attachment: fixed;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 3%;
}
.card{
        
        opacity: 1    ;
        background-color: rgba(36, 31, 1, 0.582);
}
</style>


<body>  

    <div class="card" style="width: 26rem; margin-left: 40%;margin-top: 5%;color: rgb(253, 253, 253);">
       
        <div class="card-body">
          <h2 class="card-title" style="padding-left:30%  ;" ><span><b>Add Course </b></span></h2><br>
            <form  action="{% url 'add_coursedb' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    
                    <label for="number">Course Name :</label>
                    <input type="text" class="form-control" id="number" name="cname" placeholder="Enter Course name" required><br>
                    <label for="number">Course Fee:</label>
                    <input type="number" class="form-control" id="number" name="fee" placeholder="Enter Course fee" required><br>
                 
                </div>
                <button type="submit" class="btn btn-primary" id="calculate">Submit</button>
            </form>
        </div>
    </div>
 
</body>
{% endblock %}
