
{% extends 'navbarhomeadmin.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<style>
#one {
  min-height: 100vh;
  background-image: linear-gradient(75deg, rgb(6 6 6 / 64%) 8%, transparent),
    url('{% static "images\vbgg.jpg" %}');
  background-position: center;
  background-size: cover;
}
#six {
  background: url('{% static "images\pvidya.png" %}');
  background-position: top;
  background-attachment: fixed;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 3%;
}
.card{
        
        opacity: 1    ;
        background-color: rgba(36, 31, 1, 0.582);
}
</style>


<body>  


    <div class="card text-white bg-secondary mb-3" style="max-width: 70rem;margin-left: 20%;margin-top: 8%;">
        <div class="card-header" style="padding-left: 40%;"><b><h3>Student Details</h3></b></div>
        <div class="card-body">
          
          <p class="card-text">
            <div class="container mt-4">
              <h3 style="padding-left: 40%;color: aqua;"></h3>
      <br><br>
              <table class="table" style="background-color: rgba(249, 255, 252, 0.483);border: 2px; border-color: black;">
                  <thead>
                    <tr style="color: rgb(132, 6, 6);text-decoration:double;">
                        <th scope="col">Student ID</th>
                      <th scope="col">Student Name</th>
                      <th scope="col">Age</th>
                      <th scope="col">Address</th>
                      <th scope="col">Joining Date</th>
                      <th scope="col">Course</th>
                      <th scope="col">Couese Fee</th>
                     
                      
                      
                      <th scope="col">Edit deatils</th>
                      <th scope="col">Delete </th>
                      
                    </tr>
                  </thead>
                  <tbody>
                      {% for item in students %}
                      <tr style="color:rgb(3, 3, 2)">
                        <td>{{ item.id }}</td>
                          <td>{{ item.student_name }}</td>
                          <td>{{ item.age}}</td>
                          <td>{{ item.address }}</td>
                          <td>{{ item.jdate}}</td>
                          <td>{{ item.course.course_name }}</td>
                          <td>{{ item.course.fee }}</td>
                          <td>  <a href="{% url 'update' item.id %}" style="color: rgba(255, 255, 0, 0.758);padding-left: 5%;" class="button"><span>Edit</span></a></td>
                          <td>  <a href="{% url 'delete' item.id %}" style="color: rgba(255, 255, 0, 0.758);padding-left: 5%;" class="button"><span>DELETE</span></a></td>
                      
                      
                       
                         
                      </tr>
                  {% endfor %}
                   
                  </tbody>
                </table>
          </div>
          </p>
        </div>

</body>
{% endblock %}
