
{% extends 'navbarhome.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<style>
#one {
  min-height: 100vh;
  background-image: linear-gradient(75deg, rgb(6 6 6 / 64%) 8%, transparent),
    url('{% static "images\vbgg.jpg" %}');
  background-position: center;
  background-size: cover;
}
#six {
  background: url('{% static "images\pvidya.png" %}');
  background-position: top;
  background-attachment: fixed;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 3%;
}
</style>


<body>  

    <div class="content">
        <div class="text-content">
          <h1 class="white" style="color: rgb(194, 148, 105);"><strong>WELCOME TO</strong><BR>   
           
          </h1><H3 style="color: bisque;"> Vidya Academy of Science & Technology</H3> 
          <!-- <h5 class="blackish">We offer special services for special pets!</h5>x` -->
          <div class="two-button">
            <button class="w-btn btn">View Our Services</button>
            <button class="t-btn btn">Join Us</button>
          </div>
  
        </div>
    </section>
  
    <section id="one-half" class="goblack">
      <span><a href="https://youtu.be/FtNTFwGzv8Y"><img src="{% static 'images/abb.png' %}" alt="Your Image" style="width: 500px;margin-left: -15%;"></a></span>
  
      <div class="half-content">
        <div class="half__text">
          <h1>About Us</h1>
          <p>Vidya Academy of Science & Technology (VAST) is a state-of-the-art engineering college conforming to international standards..</p>
        </div>
        <div class="half__boxes">
          <div class="box">
            <span href="#"><i class="fas fa-paw logo"></i></span>
            <h2>Our Mission</h2>
            <p>To seek, strive for and scale greater heights of quality education.</p>
          </div>
          <div class="box">
            <span href="#"><i class="fas fa-paw logo"></i></span>
            <h2>Our Vision</h2>
            <p>Progress through education.</p>
          </div>
        </div>
      </div>
  
    </section>
  
    <section id="two">
      <div class="heading ">
        <h1>What We Do</h1>
        <p class="lightblack"> VAST has a holistic approach to education where academic training goes hand in hand with offerings that develop the body,mind and soul to prepare its graduates to be future leaders..</p>
  
      </div>
  
      <div class="container">
        <div class="info">
          <span><img src="{% static 'images/reserch.jpg' %}" alt=""></span>
          <div class="info__text">
            <h1>Research & Industry</h1>
  
            <p>The objective of Vidya Research Center (VRC) is to inculcate research culture among Vidya students and staff through various activities</p>
            <h5 class=""><a href="https://vidyaacademy.ac.in/department_details.php?dep_id=27">READ MORE</a></h5>
          </div>
        </div>
        <div class="info">
          <span><img src="{% static 'images/skill.png' %}" alt=""></span>
          <div class="info__text">
            <h1>Skill Center </h1>
  
            <p>Vidya Skill Centre Training offers  the parents of differently abled studentsVidya is committed in serving the society.  enthusiastically</p>
            <h5 class=""><a href="https://news.vidyaacademy.ac.in/tag/skill-centre/">READ MORE</a></h5>
          </div>
        </div>
        <div class="info">
          <span><img src="{% static 'images/iedc.png' %}" alt=""></span>
          <div class="info__text">
            <h1>IEDC</h1>
  
            <p>An Entrepreneurship Development club is functioning in this Institute to inculcate the culture of entrepreneurship among the students and to equip them with the skills,</p>
  
            <h5 class=""><a href="https://news.vidyaacademy.ac.in/iedc/">READ MORE</a></h5>
          </div>
        </div>
      </div>
  
    </section>
  
   
  
   
  
    <section id="six">
      <h5>PLACEMENTS</h5>
      <h1>Placements for Core Business Process Engineering Positions</h1>
  
      <button class="btn w-btn" style="color: aliceblue;background-color: rgba(87, 92, 95, 0.504);"><a href="https://news.vidyaacademy.ac.in/tag/placements/">READ MORE</a></button>
  
    </section>
  
    <section id="seven" class="goblack">
      <div class="heading ">
        <h1>Latest News</h1>
        <p class="lightblack">News This Week ( 02- 08 NOV 23 )</p>
  
      </div>
  
      <div class="container container__bg goblack">
        <div class="info goblack">
          <span><img src="{% static 'images/adv.png' %}" alt=""></span>
          <div class="info__text">
            <pre>                                                   May 5, 2021</pre>
            <h1>ADVIKA 2023-24 marks a vibrant tapestry of literary brilliance and performance, impeccably interwoven with contemporary art forms</h1>
  
            <h5 class="">READ MORE ></h5>
          </div>
        </div>
        <div class="info goblack">
          <span><img src="{% static 'images/Placement.png' %}" alt=""></span>
          <div class="info__text">
            <pre>                                                    May 5, 2021</pre>
            <h1>Placements for Core Business Process Engineering Positions</h1>
  
            <h5 class="">READ MORE ></h5>
          </div>
        </div>
        <div class="info goblack">
          <span><img src="{% static 'images/iedc.png' %}" alt=""></span>
          <div class="info__text">
            <pre>                                                     May 5, 2021</pre>
            <h1>Sutherland placements</h1>
  
            <h5 class="">READ MORE ></h5>
          </div>
        </div>
      </div>
  
    </section>
  
    <footer id="eight">
  
      <div class="footer__container">
        <div class="dog__care ">
          <span href="#"><i class="fas fa-paw "></i>
            Contact
          </span>
          <p>Please send your suggestions and feedback
             regarding the contents to serveradmin@vidyaacademy.
             ac.in. If any contentious matter is reported, it
              will be removed immediately.Copyright © 2022 Vidya
               Academy of 
            Science & Technology. All rights reserved.</p>
        </div>
        <div class="dog__categories">
          <h3>Useful Links</h3>
          <div class="categories">
            <ul>
              <li>> Vidya ERP</li>
              <li>> My Account @ Library (LAN)</li>
              <li>> Moodle</li>
              <li>> DSpace</li>
            </ul>
            <ul>
              <li>> May 2021</li>
              <li>> April 2021</li>
            </ul>
          </div>
        </div>
        <div class="newsletter">
          <h3>Social Media</h3>
          <h3>SUBSCRIBE HERE NOW</h3>
          <span>
            <input type="text" placeholder="Email Address"><button class="btn"><i class="far fa-paper-plane"></i></button>
          </span>
          <p>Subscribe to our mailing list and get updates to your email inbox.</p>
        </div>
  
      </div>
  
      <div class="copyright">
  
        <p>&#169; 2021 VAST. All Rights Reserved  by <strong>vidya erp</strong> </p>
  
        <div class="share">
          <div><i class="fab fa-facebook-f"></i></div>
          <div><i class="fab fa-linkedin-in"></i></div>
          <div><i class="fab fa-twitter"></i></div>
          <div><i class="fab fa-google-plus-g"></i></div>
          <div><i class="fab fa-github"></i></div>
        </div>
  
      </div>
  
    </footer>
  
    <script src="jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
    <!-- <script src="external.js"></script> -->
  
    <script>
      let x = document.querySelector(" .night")
      x.addEventListener('click', () => {
        let y = document.querySelectorAll('.goblack')
        for (let i = 0; i < y.length; i += 1) {
          y.item(i).classList.toggle("dark-mode");
        }
      })
    </script>
  


<script>
    $(document).ready(function () {
  $(".fa-bars").click(function () {
    $(".nav-links").slideToggle(3000);
  });
});

$(window).scroll(function () {
  let scroll = $(window).scrollTop();
  let width = $(window).width();

  if (scroll >= 70 && width >= 995) {
    $("nav").addClass("new-nav");

    $("nav ul li a").css({ color: "black" });

    $(".nav-heading span").css({ color: "black" });
    $(".nav-heading span>i").css({ color: "#F85A40" });
    $(".fa-moon").css({ color: "black" });

    // $('nav ul li a').css({"color": "black"})

    // $('.nav-heading span').css({"color":"black"})
    // $('.nav-heading span>i').css({"color":"#F85A40"})
  } else if (scroll == 0 && width >= 995) {
    $("nav").removeClass("new-nav");
    $("nav ul li a").css({ color: "#fff" });
    $(".nav-heading span>i").css({ color: "#fff" });

    $(".nav-heading span").css({ color: "white" });

    $(".fa-moon").css({ color: "#fff" });
    // $('nav ul li a').css({"color": "#fff"})

    // $('.nav-heading span').css({"color":"#fff"})
    // $('.nav-heading span>i').css({"color":"#fff"})
  } else if (scroll >= 70 && width < 995) {
    $(".nav-heading span").css({ color: "black" });
    $("nav").addClass("new-nav");
    $(".nav-heading span").addClass("black");
    $(".nav-heading span>i").css({ color: "#F85A40" });
    $(".fa-moon").css({ color: "black" });
  } else if (scroll == 0 && width < 995) {
    $("nav").removeClass("new-nav");
    $(".nav-heading span").css({ color: "white" });
    $(".nav-heading span").removeClass("black");
    $(".fa-moon").css({ color: "white" });

    $(".nav-links>span>i").css({ color: "#fff" });
  }
});

</script>
</body>
{% endblock %}
